body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    padding-bottom: 15px;
    overflow-y: scroll;
}
#invisible {
    display: none;
}
#notification {
    background-color: #42b72a;
    width: 170px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 30px;
    padding: 3px;
    text-align: center;
    display: none;
}
#info {
    margin-top: 5px;
    color: ghostwhite;
}
#deletePop {
    background-color: #fffeff;
    width: 70%;
    height: 20%;
    position: fixed;
    z-index: 6;
    text-align: center;
    top: 50%;
    left: 15%;
    display: none;
    padding: 10px;
}
#deletePop h2 {
}
#cancelDelete {
    float: right;
    background: none;
    border: none;
    outline: none;
    color: #212121;
}
#deleteSub {
    background-color: #212121;
    color: white;
    width: 70px;
    height: 30px;
    padding: 5px;
}
#bar {
    background-color: #212121;
    top: 0;
    border: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    overflow: hidden;
    position: fixed;
    z-index: 20;
}
#bar h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    padding: 5px;
}

#bar img {
    float: left;
}

#search {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 121px;
    left: 24%;
}

#search input {
    padding: 3px;
    top: 0;
    border-radius: 15px;
    outline: none;
    background-color: #fafafa;
}

#search button {
    background-color:transparent;
    border:0;
    right: 0;
    padding: 0;
}

#content {
    width: 100%;
    text-align: center;
    margin: auto;
}

#add {
    width: 100%;
    text-align: left;
}
#add h2 {
    font-size: 20px;
    padding: 5px;
    margin-left: 1%;
    margin-bottom: -20px;
}
#newIntent {
    width: 98%;
    background-color: white;
    border-radius: 15px;
    margin-left:1%;
    margin-bottom:20px;
}
button {
    border: transparent;
    background-color: transparent;
    font-weight: bold;
    color: white;
}
#add button {
    background-color: #212121;
    border-radius: 9px;
    color: white;
    outline: none;
}
#add button:hover{
    background-color: #535353;
}
#cancel {
    padding: 5px;
}
#addButton {
    padding: 5px;
    margin-top: 18px;
}
#userMin {
    position: absolute;
    z-index: 1;
    left: 58.9%;
    top:37.1%;
}
#userMin button {
    background-color: transparent;
}
#userMin button:hover {
    background-color: transparent;
}
#respMin {
    position: absolute;
    z-index: 1;
    left: 89.5%;
    top:37.1%;
}
#respMin button {
    background-color: transparent;
}
#respMin button:hover {
    background-color: transparent;
}

#buttonDiv2 img {
    margin-top: -18px;
    float: right;
    margin-left: -3px;
}
#buttonDiv3 img {
    margin-top: -18px;
    float: right;
    margin-left: -3px;
}
#add input[type="text"]{
    outline: none;
    color: black;
    margin-top: 17px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #cccccc;
}
#intents {
    width: 98%;
    margin-left: 1%;
}
#displayIntents{
    margin-left: 1%;
    width: 98%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#display {
    border: none;
    width: 98%;
    margin-left: 1%;
    border-radius: 15px;
    margin-top: -15px;
    margin-bottom: -40px;
}
#display tr:hover {
    background-color: #cccccc;
    border-radius: 15px;
}
#display tr {
    background-color: #f1f0f0;
}
#display td {
    padding: 10px;
    border-bottom: 15px solid white;
    width: 20%;
}
#display tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 30px;

}

#display tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 30px;
    text-align: right;
    width: 9%;
}
#display tr td:last-child button {
    margin-top: 50%;
    outline: none;
    margin-bottom: 50%;
}
#display tr td:last-child button:hover {
    background-color: #535353;
}
#displayIntents h2{
    text-align: left;
    font-size: 20px;
    padding: 5px;
    margin-left: 1%;
    margin-top:-35px;
}
#menuIcon{
    padding-top: 13px;
}
#menu {
    background-color: #212121;
    width: 250px;
    height: 100%;
    position: fixed;
    display: none;
}
#menu ul {
    margin-top: 9px;
    color: white;
}
#menu li {
    padding: 5px 10px 15px 0
}
#menu a {
    color: white;
    text-decoration: none;
    padding-left: 7px;
}
#menu a:active{
    color: white;
}

#bar button{
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
}
#menuButton {
    z-index: 4;
    position: absolute;
}
#logo {
    margin-left: 60px;
}
#dashboard {
    display: none;
}
#titleBarDash {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarDash h1 {
    padding: 10px 10px 3px 0;
}
#titleBarDash p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#refreshDash {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonDash{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#dataBar {
    width: 98%;
    background-color: white;
    border-radius: 15px;
    margin-left:1%;
}
#data {
    width:100%;
    text-align: center;
}
#data2{
    width: 80%;
    background-color: white;
    margin-left: 1%;
    margin-top: 20px;
    border-radius: 15px;
    height: 510px;
}
#answered {
    width: 70%;
}
#adminAnswers{
    background-color: white;
    width: 17%;
    border-radius: 15px;
    z-index: 1;
    top: 50.5%;
    right: 13px;
    position: absolute;
    height: 510px;
    text-align: center;
}
#admins {
    text-align: center;
    width:100%;
    height: 85%;
}
#admins td{
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;
}
#over {
    border-radius: 15px;
    z-index: 1;
    background-color: #dfdfdf;
    position: absolute;
    top: 52%;
    text-align: center;
    left: 70%;
    width: 90px;
}
#controlPanel {
    display: none;
}
#titleBarControl {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarControl h1 {
    padding: 10px 10px 3px 0;
}
#titleBarControl p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#refreshControl {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonControl{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#refreshQuest {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonQuest{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#unansweredQuestions {
    display: none;
}
#titleBarQuest {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarQuest h1 {
    padding: 10px 10px 3px 0;
}
#titleBarQuest p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#chatbotSimulator {
    display: none;
}
#titleBarSim {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarSim h1 {
    padding: 10px 10px 3px 0;
}
#titleBarSim p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#refreshSim {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonSim{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#addedUser {
    width: 370px;
    background-color: #fcfcfc;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 240px;
    left:30.1%;
    display: none;
}
#addedUser ul {
    list-style: none;
    color: #212121;
    padding: 5px;
    width: 365px;
}
#addedResp {
    width: 370px;
    background-color: #fcfcfc;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 240px;
    left:60.7%;
    display: none;
}
#addedResp ul {
    list-style: none;
    color: #212121;
    padding: 5px;
    width: 365px;
}
#addedResp li:hover {
    background-color: indianred;
}
#addedResp li:hover:before {
    text-align: center;
    content: "DELETE:  ";
}
#addedUser li:hover {
    background-color: indianred;
}
#addedUser li:hover:before {
    text-align: center;
    content: "DELETE:  ";
}
#userError{
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 35.1%;
    background-color: indianred;
    height: 30px;
    display: none;
}
#userError p {
    margin-top: 6px;
    padding: 0 3px 0 3px;
}
#nameError{
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 11.5%;
    background-color: indianred;
    height: 30px;
    display: none;
}
#nameError p {
    margin-top: 6px;
    padding: 0 3px 0 3px;
}
#respError{
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 65%;
    background-color: indianred;
    height: 30px;
    display: none;
}
#respError p {
    margin-top: 6px;
    padding: 0 3px 0 3px;
}
#chatbot {
    width: 270px;
    height: auto;
    padding: 4px 4px 0 4px;
}
#titlebar{
    height: 25px;
    background: radial-gradient(#212121,#111111);
    color: white;
    line-height: 25px;
    padding: 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
#input{
    float: right;
    width: 90%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;

}
#inputBar {
    width: 100%;
}
#messages{
    height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    background-color: white;
}
.message{
    width: 250px;
}

.messagetext{
    margin:4px;
    padding: 4px;
    display: inline-block;
}

.message.user{
    text-align: end;
    word-wrap: break-word;
}

.message.bot{
    text-align: start;
    word-wrap: break-word;
}

.message.user .messagetext{
    background-color: #1dadedbf;
}

.message.bot .messagetext{
    background-color: #f1f0f0;
}
#sim {
    width: 95.5%;
    margin-left: 1%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 363px;
}
#progress {
    width: 94%;
    background-color: white;
    position: absolute;
    top: 55%;
    margin-left: 3%;
}
#progressBar {
    width: 1%;
    height: 30px;
    background-color: #333333;
}
.dialog{
    float: right;
    margin-right: 4px;
}
#green {
    display: none;
}
#imageSoundOff {
    display: none;
    float: right;
    padding-right: 6px;
    padding-top: 2px;
}

#imageSoundOn{
    float: right;
    padding-right: 6px;
    padding-top: 2px;
}
#collapse{
    display: none;
}
#speechControl{
    z-index: 3;
    position: absolute;
    left: 29px;
    top: 524px;
    padding: 5px 4px 3px 2px;
}
#saveLog {
    display: none;
}