body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    padding-bottom: 15px;
}
#bar {
    background-color: #212121;
    top: 0;
    border: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    overflow: hidden;
    position: fixed;
    z-index: 20;
}
#bar h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    padding: 5px;
}

#bar img {
    float: left;
}

#search {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 121px;
    left: 24%;
}

#search input {
    padding: 3px;
    top: 0;
    border-radius: 15px;
    outline: none;
    background-color: #fafafa;
}

#search button {
    background-color:transparent;
    border:0;
    right: 0;
    padding: 0;
}

#content {
    width: 100%;
    text-align: center;
    margin: auto;
}

#add {
    width: 100%;
    text-align: left;
}
#add h2 {
    font-size: 20px;
    padding: 5px;
    margin-left: 1%;
    margin-bottom: -20px;
}
#newIntent {
    width: 98%;
    background-color: white;
    border-radius: 15px;
    margin-left:1%;
    margin-bottom:20px;
}
button {
    border: transparent;
    background-color: transparent;
    font-weight: bold;
    color: white;
}
#add button {
    background-color: #212121;
    border-radius: 9px;
    color: white;
    outline: none;
}
#add button:hover{
    background-color: #535353;
}
#addButton {
    padding: 5px;
    margin-top: 18px;
}
#userMin {
    position: absolute;
    z-index: 1;
    left: 60.4%;
    top:37.1%;
}
#userMin button {
    background-color: transparent;
}
#userMin button:hover {
    background-color: transparent;
}
#respMin {
    position: absolute;
    z-index: 1;
    left: 92.4%;
    top:37.1%;
}
#respMin button {
    background-color: transparent;
}
#respMin button:hover {
    background-color: transparent;
}

#buttonDiv2 img {
    margin-top: -18px;
    float: right;
    margin-left: -3px;
}
#buttonDiv3 img {
    margin-top: -18px;
    float: right;
    margin-left: -3px;
}
#add input[type="text"]{
    outline: none;
    color: black;
    margin-top: 17px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #cccccc;
}
#intents {
    width: 98%;
    margin-left: 1%;
}
#displayIntents{
    margin:auto;
    width: 70%;
    text-align: center;
}
#displayIntents table {
    border: none;
    margin: auto;
}
#displayIntents td {
    padding: 4px;
}
#displayIntents tr:nth-child(odd){
    background: #aaaaaa;
}
#displayIntents tr:nth-child(even){
    background: #dfdfdf;
}
#menuIcon{
    padding-top: 13px;
}
#menu {
    background-color: #212121;
    width: 250px;
    height: 100%;
    position: fixed;
    display: none;
}
#menu ul {
    margin-top: 9px;
    color: white;
}
#menu li {
    padding: 5px 10px 15px 0
}
#menu a {
    color: white;
    text-decoration: none;
    padding-left: 7px;
}
#menu a:active{
    color: white;
}

#bar button{
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
}
#menuButton {
    z-index: 4;
    position: absolute;
}
#logo {
    margin-left: 60px;
}
#dashboard {
    display: none;
}
#titleBarDash {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarDash h1 {
    padding: 10px 10px 3px 0;
}
#titleBarDash p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#refreshDash {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonDash{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#dataBar {
    width: 98%;
    background-color: white;
    border-radius: 15px;
    margin-left:1%;
}
#data {
    width:100%;
    text-align: center;
}
#data2{
    width: 80%;
    background-color: white;
    margin-left: 1%;
    margin-top: 20px;
    border-radius: 15px;
    height: 510px;
}
#answered {
    width: 70%;
}
#adminAnswers{
    background-color: white;
    width: 17%;
    border-radius: 15px;
    z-index: 1;
    top: 50.5%;
    right: 13px;
    position: absolute;
    height: 510px;
    text-align: center;
}
#admins {
    text-align: center;
    width:100%;
    height: 85%;
}
#admins td{
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;
}
#over {
    border-radius: 15px;
    z-index: 1;
    background-color: #dfdfdf;
    position: absolute;
    top: 52%;
    text-align: center;
    left: 70%;
    width: 90px;
}
#controlPanel {
    display: none;
}
#titleBarControl {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarControl h1 {
    padding: 10px 10px 3px 0;
}
#titleBarControl p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#refreshControl {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonControl{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#refreshQuest {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonQuest{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#unansweredQuestions {
    display: none;
}
#titleBarQuest {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarQuest h1 {
    padding: 10px 10px 3px 0;
}
#titleBarQuest p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#chatbotSimulator {
    display: none;
    background-color: red;
}
#titleBarSim {
    margin-top: 99px;
    width: 100%;
    background-color: white;
    padding-left: 10px;
}
#titleBarSim h1 {
    padding: 10px 10px 3px 0;
}
#titleBarSim p {
    margin-top: -27px;
    padding-bottom: 5px;
}
#refreshSim {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 122px;
}
#refreshButtonSim{
    border: none;
    background-color: #fcfcfc;
    outline: #cccccc;
}
#addedUser {
    width: 370px;
    background-color: #fcfcfc;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 240px;
    left:31.2%;
    display: none;
}
#addedUser ul {
    list-style: none;
    color: #212121;
    padding: 5px;
    width: 365px;
}
#addedResp {
    width: 370px;
    background-color: #fcfcfc;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 240px;
    left:63.2%;
    display: none;
}
#addedResp ul {
    list-style: none;
    color: #212121;
    padding: 5px;
    width: 365px;
}
#addedResp li:hover {
    background-color: indianred;
}
#addedResp li:hover:before {
    text-align: center;
    content: "DELETE:  ";
}
#addedUser li:hover {
    background-color: indianred;
}
#addedUser li:hover:before {
    text-align: center;
    content: "DELETE:  ";
}