.body {
	margin: 0; padding: 0; height: 100%; overflow: hidden;
	font-family: sans-serif;
	background-color: #cccccc;

}
#fdm {
	position:absolute; left: 0; right: 0; bottom: 0; top: 0px; background-color: #cccccc;
}
#vid {
	position: relative;
	height: 100%;
	background-color: #cccccc;
	overflow:hidden;
}
#vid .iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#main {
	z-index: 1;
	position: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
#chatbot {
	display: none;
	width: 270px;
	height: auto;
	padding: 4px 4px 0 4px;
	position: fixed;
	bottom: 0;
	right: 0;
}


#titlebar{
	height: 25px;
	background: radial-gradient(#212121,#111111);
	color: white;
    line-height: 25px;
    padding: 4px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

#green{
	height: auto;
	width: auto;
	margin-right: 10px;
	margin-left: 4px;
	float: left;
	font-size: 30px;
	color: #42b72a;
	text-shadow: 0 0 20px rgba(125,193,124,1) , 0 0 30px rgba(153,221,167,1) , 0 0 100px rgba(41,135,68,1) ;
}
#greenA{
	height: auto;
	width: auto;
	margin-right: 10px;
	margin-left: 4px;
	float: left;
	font-size: 30px;
	color: #42b72a;
	text-shadow: 0 0 20px rgba(125,193,124,1) , 0 0 30px rgba(153,221,167,1) , 0 0 100px rgba(41,135,68,1) ;
}

#messages{
	height: 246px;
	overflow-y: scroll;
	border-left: 1px solid #f1f0f0;
	border-right: 1px solid #f1f0f0;
	background-color: white;

}

.message{
	width: 250px;
}

.messagetext{
	margin:4px;
	padding: 4px;
	display: inline-block;
}

.message.user{
	text-align: end;
}

.message.bot{
	text-align: start;
}

.message.user .messagetext{
	background-color: #1dadedbf;
}

.message.bot .messagetext{
	background-color: #f1f0f0;
}

.message p{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#input{
	width: 100%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #f1f0f0;
	outline: none;
}

::placeholder{
	color: #cdcccc;
	opacity: 1;
}

.dialog{
    float: right;
}

[class*='close-'] {
	color: white;
	text-decoration: none;
}
.close-X {
	float: right;
}
.close-X:after {
	content: '✖';
}
#collapse{
	display: none;
	background: radial-gradient(#212121,#111111);
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 270px;
	height: 25px;
	line-height: 25px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	padding: 4px 4px 0 4px;
}
#collapse .button {
	background-color: #212121;
	padding: 10px;
	font-weight: bold;
	color: white;
	border: none;
	float: right;
}
.expand {
	border-radius: 60%;
	position: fixed;
	display: none;
	right: 0;
	bottom: 0;
	color: white;
	margin-right: 10px;
	border: none;

}
#imageSoundOff {
	display: none;
	float: right;
	padding-right: 6px;
	padding-top: 2px;
}
#imageSoundOn{
	float: right;
	padding-right: 6px;
	padding-top: 2px;
}
#input {
	float: left;
	padding-right: 50px;
}
#saveLog{
	float: right;
	margin-left: -50px;
	border-top: 1px solid #f1f0f0;
	padding: 7px 2px 7px 7px;
	background-color: white;
}

#emailPopUp {
	display: none;
	position: fixed;
	z-index: 2;
	background-color: #212121;
	width: 100%;
	height: 100%;
	text-align: center;
}
#boxed {
	margin: 10%;
	padding: 20px;
	background-color: white;
}
#boxed h1 {
	padding-bottom: 20px;
}
#close{
	float: right;
	color: black;
	background-color: transparent;
	border: none;
}
#bar {
	background-color: #212121;
	top: 0;
	border: 0;
	width: 100%;
	margin: 0;
	padding: 5px 0 5px 0;
	overflow: hidden;
	z-index: 1;
	position: fixed;
}
#bar h1 {
	color: white;
	font-family: sans-serif;
	text-align: center;
	position: relative;
	padding: 5px;
}

#bar img {
	float: left;
}
#content {
	text-align: center;
	padding: 10px;
	color:deepskyblue;
	background-color: #cccccc;
	overflow:hidden;
 }
#boxes {
	margin:20px;
	padding: 20px;
	width: 100%;
	text-align: center;
	overflow:hidden;
}
.box{
	color: black;
	margin:10px;
	padding:20px;
	background-color: white;
	width: 27%;
	height: 220px;
	float: left;
	overflow:hidden;
}
.box:hover{
	color:white;
	margin:10px;
	padding:20px;
	background-color: black;
	width: 27%;
	height: 220px;
	float: left;
	overflow:hidden;
}
#inputBar {
	width: 100%;
}
#speechControl{
	float: left;
	padding:4px 2px 5px 2px;
	background-color: white;
	border-top: 1px solid #f1f0f0;
}
#input{
	width: 90%;
	border-left:none;
}

.button {
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #212121;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #212121}

.button:active {
	background-color: #212121;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button-main {
	height: 30px;
	width: 100px;
	background: #212121;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#212121));
	background: -moz-linear-gradient(#656565, #212121);
	background: linear-gradient(#656565, #212121);
	border: solid 1px #535353;
	border-bottom: solid 3px #414141;
	box-shadow: inset 0 0 0 1px #939393;
	color: #fff;
	text-shadow: 0 1px 0 #212121; }

.button-main:hover {
	background: #212121;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#212121), to(#565656));
	background: -moz-linear-gradient(#212121, #565656);
	background: linear-gradient(#212121, #565656);
	border: solid 1px #464646;
	border-bottom: solid 3px #414141;
	box-shadow: inset 0 0 0 1px #818181; }

.button-main:active {
	background: #212121;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#212121), to(#444));
	background: -moz-linear-gradient(#212121, #444);
	background: linear-gradient(#212121, #444);
	border: solid 1px #2f2f2f;
	box-shadow: inset 0 10px 15px 0 #3e3e3e; }

h2 {
	display: block;
	font-size: 2.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #111111;
}