body {
    margin: 0;
    text-align: center;
}
#bar {
    background-color: #212121;
    top: 0;
    border: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    overflow: hidden;
}
#bar h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    padding: 5px;
}

#bar img {
    float: left;
}

#search {
    padding: 10px 100px 10px 100px;
}

#search input {
    padding: 3px;
    top: 0;
    float: left;
}

#search button {
    background-color:transparent;
    border:0;
    right: 0;
    padding: 0;
    float: left;
}

#content {
    width: 100%;
}

#add {
    width: 70%;
    background-color: #cccccc;
    margin: 10px;
    padding: 5px;
}

#newIntent {
    margin: 50px;
}

button {
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}

#add input[type="text"]{
    border: transparent;
    background-color: transparent;
}
#displayIntents{
    margin:10px;
    width: 70%;
}
#displayIntents table {
    width: 90%;
    border: none;
}
#displayIntents td {
    padding: 4px;
}

#displayIntents tr:nth-child(odd){
    background: #cccccc;
}

