.body {
	margin: 0; padding: 0; height: 100%; overflow: hidden;
	font-family: sans-serif;
	background-color: #cccccc;

}
#fdm {
	position:absolute; left: 0; right: 0; bottom: 0; top: 0px; background-color: #cccccc;
}
#vid {
	position: relative;
	height: 100%;
	background-color: #cccccc;
	overflow:hidden;
}
#vid .iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#main {
	display:none;
	z-index: 1;
	position: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
#chatbot {
	width: 270px;
	height: auto;
	padding: 4px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#titlebar{
	height: 25px;
	background-color: black;
	color: white;
    line-height: 25px;
    padding: 4px;
}

#green{
	height: auto;
	width: auto;
	margin-right: 4px;
	margin-left: 4px;
	float: left;
	font-size: 30px;
	color: #42b72a;
}
#greenA{
	height: auto;
	width: auto;
	margin-right: 4px;
	margin-left: 4px;
	float: left;
	font-size: 30px;
	color: #42b72a;
}

#messages{
	height: 246px;
	overflow-y: scroll;
	border-left: 1px solid #f1f0f0;
	border-right: 1px solid #f1f0f0;
	background-color: white;
}

.message{
	width: 250px;
}

.messagetext{
	margin:4px;
	padding: 4px;
	display: inline-block;
}

.message.user{
	text-align: end;
}

.message.bot{
	text-align: start;
}

.message.user .messagetext{
	background-color: #1dadedbf;
}

.message.bot .messagetext{
	background-color: #f1f0f0;
}

.message p{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#input{
	width: 100%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #f1f0f0;
	outline: none;
}

::placeholder{
	color: #cdcccc;
	opacity: 1;
}

.dialog{
    float: right;
}

[class*='close-'] {
	color: white;
	text-decoration: none;
}
.close-X {
	float: right;
}
.close-X:after {
	content: '✖';
}
#collapse{
	display: none;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 270px;
	height: 25px;
	padding: 4px;
	line-height: 25px;
}
#collapse .button {
	background-color: black;
	padding: 10px;
	font-weight: bold;
	color: white;
	border: none;
	float: right;
}
.expand {
	border-radius: 60%;
	position: fixed;
	display: none;
	right: 0;
	bottom: 0;
	color: white;
	margin-right: 10px;
	border: none;

}
#imageSoundOff {
	display: none;
	float: right;
	padding-right: 10px;
	padding-top: 2px;
}
#imageSoundOn{
	float: right;
	padding-right:10px;
	padding-top: 2px;
}
#input {
	float: left;
	padding-right: 50px;
}
#saveLog{
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	margin-left: -50px;
}

#emailPopUp {
	display: none;
	position: fixed;
	z-index: 2;
	background-color: #212121;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	text-align: center;
}
#boxed {
	margin: 10%;
	padding: 20px;
	background-color: white;
}
#boxed h1 {
	padding-bottom: 20px;
}
#close{
	float: right;
	color: black;
	background-color: transparent;
	border: none;
}
#bar {
	background-color: #212121;
	top: 0;
	border: 0;
	width: 100%;
	margin: 0;
	padding: 5px 0 5px 0;
	overflow: hidden;
	z-index: 1;
	position: fixed;
}
#bar h1 {
	color: white;
	font-family: sans-serif;
	text-align: center;
	position: relative;
	padding: 5px;
}

#bar img {
	float: left;
}
#content {
	text-align: center;
	padding: 10px;
	color:deepskyblue;
	background-color: #cccccc;
	overflow:hidden;
 }
#boxes {
	margin:20px;
	padding: 20px;
	width: 100%;
	text-align: center;
	overflow:hidden;
}
.box{
	color: black;
	margin:10px;
	padding:20px;
	background-color: white;
	width: 20%;
	float: left;
	overflow:hidden;
}