.body {
	font-family: Helvetica, Arial, sans-serif;
}
#main{
	display:none;
}
#chatbot{
	width: 270px;
	height: auto;
	padding: 4px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#titlebar{
	height: 25px;
	background-color: black;
	color: white;
    line-height: 25px;
    padding: 4px;
}

#green{
	height: auto;
	width: auto;
	margin-right: 4px;
	margin-left: 4px;
	float: left;
	font-size: 30px;
	color: #42b72a;
}
#greenA{
	height: auto;
	width: auto;
	margin-right: 4px;
	margin-left: 4px;
	float: left;
	font-size: 30px;
	color: #42b72a;
}

#messages{
	height: 246px;
	overflow-y: scroll;
	border-left: 1px solid #f1f0f0;
	border-right: 1px solid #f1f0f0;
}

.message{
	width: 250px;
}

.messagetext{
	margin:4px;
	padding: 4px;
	display: inline-block;
}

.message.user{
	text-align: end;
}

.message.bot{
	text-align: start;
}

.message.user .messagetext{
	background-color: #1dadedbf;
}

.message.bot .messagetext{
	background-color: #f1f0f0;
}

#input{
	width: 100%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #f1f0f0;
	outline: none;
}

::placeholder{
	color: #cdcccc;
	opacity: 1;
}

.dialog{
    float: right;
}

[class*='close-'] {
	color: white;
	text-decoration: none;
}
.close-X {
	float: right;
}
.close-X:after {
	content: '✖';
}
#collapse{
	display: none;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 270px;
	height: 25px;
	padding: 4px;
	line-height: 25px;
}
#collapse .button {
	background-color: black;
	padding: 10px;
	font-weight: bold;
	color: white;
	border: none;
	float: right;
}
.expand {
	border-radius: 60%;
	position: fixed;
	display: none;
	right: 0;
	bottom: 0;
	color: white;
	margin-right: 10px;
	border: none;

}
#imageSoundOff {
	display: none;
	float: right;
	padding-right: 10px;
	padding-top: 2px;
}
#imageSoundOn{
	float: right;
	padding-right:10px;
	padding-top: 2px;
}
#input {
	float: left;
	padding-right: 50px;
}
#saveLog{
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	margin-left: -50px;
}

#emailPopUp {
	display: none;
	position: fixed;
	z-index: 1;
	background-color: #212121;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	text-align: center;
}
#boxed {
	margin: 10%;
	padding: 20px;
	background-color: white;
}
#boxed h1 {
	padding-bottom: 20px;
}