#main{
	display:none;
}
#chatbot{
	width: 270px;
	height: 250px;
	padding: 4px;
	position: fixed;
  	bottom: 0px;
  	right: 0px;
  	margin-bottom: 55px;
    font-family: Helvetica, Arial, sans-serif;
}

#titlebar{
	height: 25px;
	background-color: black;
	color: white;
    line-height: 25px;
    padding: 4px;
}
#messages{
	height: inherit;
	overflow-y: scroll;
}

.message{
	width: 250px;
}

.messagetext{
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	display: inline-block;
}

.message.user{
	text-align: end;
}

.message.bot{
	text-align: start;
}

.message.user .messagetext{
	background-color: #1dadedbf;
}

.message.bot .messagetext{
	background-color: #f1f0f0;
}

#input{
	width: 250px;
}

.dialog{
    float: right;
}

[class*='close-'] {
	color: #777;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

.close-X:after {
	content: '✖';
}
#collapse{
	display: none;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 270px;
	height: 25px;
	padding: 4px;
}
.button {
	background-color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.expand {
	border-radius: 60%;
	position: fixed;
	display: none;
	right: 0;
	bottom: 0;
	color: white;
	margin-right: 10px;
	border: none;

}